html,
body {
    font-family: 'Ubuntu', sans-serif;
}



/*********    <header>         **************/
.site-header {
    top: 0;
    left: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 999;
    width: 100%;
    background-color: #f3d537;
}
.nav-container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1280px;
    position: relative;
}

.corset {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.myNav {
    background-color: #f3d537;
    align-content: center;
    text-align: center;
    padding: 2% 0 2% 0;
}

.nav-link-head {
    color: #03293c;
    font-size: 3.0625rem;
    line-height: 1.3125rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    padding: 20px 16px;
    text-decoration: none;
    -webkit-transition-property: border,color;
    transition-property: border,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.nav-link-head:hover {
    border-color: #fff;
    color: #03293c;
    text-decoration: none;
}
.brand {
    display: inline;
    margin-right: 28%;
}
.logo {
    color: #03293c;
    padding-right: 10px;
    font-size: 2rem;
    text-decoration: none;
    -webkit-transition-property: border,color;
    transition-property: border,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.brand-name:hover {
    color: #fff;
    text-decoration: none;
}

/*********    </header>         **************/

/*********    <search-bar-on-main>           **************/
.search-main {
    width: 93%;
    padding: 5px;
    margin-top: 16px;
    border: 1px solid #03293c;
    border-radius: 4px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.search-main:focus {
    border: 1px solid #03293c;
    outline-width: 0;
    box-shadow: 0px 1px 5px #03293c;
}
.search-input:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid rgba(0,0,0,0);
    width: 0;
}
.btn-dark-blue {
    background-color: #03293c;
    color: #f3d537;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-dark-blue:hover {
    background-color: #f3d537;
    color: #fff;
    font-weight: bolder;
}

/*********    </search-bar-on-main>           **************/



/********* <results> ****************/

.results{
    display: flex;
    justify-content: space-between;
}

/********* </results> ****************/




/*********    <left-column-main>           **************/
.left-column {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #03293c;
    border-radius: 4px;
    box-shadow: 0px 1px 7px #03293c;
}
.category-list ul {
     list-style-type: none;
 }
.category-list input {
   margin-right: 3px;
}
.category-list p:hover {
    cursor: pointer;
}
/*----------   </left-column-main>           -----------*/


/*********    <right-column-main>           **************/

.right-column {
    width: 66%;
    display: inline-block;
}
.job-offer-main {
    border: 1px solid #03293c;
    border-radius: 4px;
    box-shadow: 0px 5px 6px #03293c;
    margin-bottom: 21px;
}
.btn-yellow {
    background-color: #f3d537;
    color:  #03293c;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-yellow:hover {
    background-color: #f3d537;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}
/*------------   </right-column-main>           ---------------*/
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Navigator main Page filter*/

.select-city {

    display: inline-block; margin-left: 15%; padding: 6px;
    width: 17%;
    text-align: center;
    justify-content: space-between;

}

.select-category {
    display: inline-block;
    margin-left: -1%;
    padding: 6px;
    width: 30%;
    text-align: center;
    justify-content: space-between;
}
.show-city-list{
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: block;
    position: absolute;
    margin-left: 300px;
    z-index: 99;
    overflow-y:scroll;
    height: 300px;
}
.hide-city-list {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: none;
}

.show-category-list{
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: block;
    position: absolute;
    margin-left: 300px;
    z-index: 99;
    overflow-y:scroll;
    height: 300px;
}
.hide-category-list {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: none;
}



