html,
body {
    /*font-family: 'Ubuntu', sans-serif;*/
   /* background: url('../images/logo-background-transperent.png'); */
}

a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5, p {
    color: #03293c;
}
/*>>>>>>        MAIN PAGE        <<<<<<<<<*/


/*********            <header>         **************/
.site-header {
    top: 0;
    left: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 999;
    width: 100%;
    background-color: #f3d537;
}
.nav-container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1280px;
    position: relative;
}

.corset {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.myNav {
    background-color: #f3d537;
    align-content: center;
    text-align: center;
    padding: 2% 0 2% 0;
}

.nav-link-head {
    color: #03293c;
    font-size: 3.0625rem;
    line-height: 1.3125rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    padding: 20px 16px;
    text-decoration: none;
    -webkit-transition-property: border,color;
    transition-property: border,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.nav-link-head:hover {
    border-color: #fff;
    color: #03293c;
    text-decoration: none;
}
.brand {
    display: inline;
    margin-right: 28%;
}
.logo {
    color: #03293c;
    padding-right: 10px;
    font-size: 2rem;
    text-decoration: none;
    -webkit-transition-property: border,color;
    transition-property: border,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.brand-name:hover {
    color: #fff;
    text-decoration: none;
}

/*********    </header>         **************/

/*********    <carousel>           **************/
.carousel-item {
    height: 400px;
}
/*********    </carousel>           **************/

/*********    <search-bar-on-main>           **************/
.search-main {
    width: 93%;
    padding: 5px;
    margin-top: 16px;
    border: 1px solid #03293c;
    border-radius: 4px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.search-main:focus {
    border: 1px solid #03293c;
    outline-width: 0;
    box-shadow: 0px 1px 5px #03293c;
}
.search-input:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid rgba(0,0,0,0);
    width: 0;
}
.btn-dark-blue {
    background-color: #03293c;
    color: #f3d537;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-dark-blue:hover {
    background-color: #f3d537;
    color: #fff;
    font-weight: bolder;
}

/*********    </search-bar-on-main>           **************/



/********* <results> ****************/

.results{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/********* </results> ****************/




/*********    <left-column-main>           **************/
.left-column {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #03293c;
    border-radius: 4px;
    box-shadow: 0px 1px 7px #03293c;
    height: fit-content;
}
.category-list ul , .city-list ul {
     list-style-type: none;
 }
.category-list input , .city-list input{
   margin-right: 3px;
}

.category-list p:hover , .category-list input:hover, .city-list p:hover , .city-list input:hover{
    cursor: pointer;
}
.hide {
    display: none;
    transition: height 350ms ease-in-out;
}


/*----------   </left-column-main>           -----------*/


/*********    <right-column-main>           **************/

.right-column {
    width: 66%;
    display: inline-block;
}
.job-offer-main {
    border: 1px solid #03293c;
    border-radius: 4px;
    box-shadow: 0px 5px 6px #03293c;
    margin-bottom: 21px;
}
.job-offer-main p, h5 {
    margin-left: 16px;
}
.card-title {
    margin-top: 10px;
}
.btn-yellow {
    background-color: #f3d537;
    color:  #03293c;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-yellow:hover {
    background-color: #f3d537;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

#loading {
    background: url('../images/logo/logo-animated.gif') no-repeat center;
    text-align: center;
    justify-content: center;
    left: 0;
    height: 200px;
    z-index: 9;
}
/*------------   </right-column-main>           ---------------*/

/************       <Footer>          ************ */

.footer {
    background-color: #03293c ;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 40px;
}

.footer > .container {
    display: flex;
    justify-content: space-around;
}

.polocies-title , .social-auth-links > a > li , .follow-us > strong{
    color: #f3d537;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.polocies-title:hover , .social-auth-links > a > li:hover {
    color: #fff;
}

.quick-links {
    margin-right: 239px;
}
.follow-us {
    margin-top: 86px;
}
/*------------   </Footer>           ---------------*/

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*!* Navigator main Page filter*!*/

/*.select-city {*/

/*    display: inline-block; margin-left: 15%; padding: 6px;*/
/*    width: 17%;*/
/*    text-align: center;*/
/*    justify-content: space-between;*/

/*}*/

/*.select-category {*/
/*    display: inline-block;*/
/*    margin-left: -1%;*/
/*    padding: 6px;*/
/*    width: 30%;*/
/*    text-align: center;*/
/*    justify-content: space-between;*/
/*}*/
/*.show-city-list{*/
/*    -moz-animation-delay: 3.5s;*/
/*    -webkit-animation-delay: 3.5s;*/
/*    -o-animation-delay: 3.5s;*/
/*    animation-delay: 3.5s;*/
/*    display: block;*/
/*    position: absolute;*/
/*    margin-left: 300px;*/
/*    z-index: 99;*/
/*    overflow-y:scroll;*/
/*    height: 300px;*/
/*}*/
/*.hide-city-list {*/
/*    -moz-animation-delay: 3.5s;*/
/*    -webkit-animation-delay: 3.5s;*/
/*    -o-animation-delay: 3.5s;*/
/*    animation-delay: 3.5s;*/
/*    display: none;*/
/*}*/

/*.show-category-list{*/
/*    -moz-animation-delay: 3.5s;*/
/*    -webkit-animation-delay: 3.5s;*/
/*    -o-animation-delay: 3.5s;*/
/*    animation-delay: 3.5s;*/
/*    display: block;*/
/*    position: absolute;*/
/*    margin-left: 300px;*/
/*    z-index: 99;*/
/*    overflow-y:scroll;*/
/*    height: 300px;*/
/*}*/
/*.hide-category-list {*/
/*    -moz-animation-delay: 3.5s;*/
/*    -webkit-animation-delay: 3.5s;*/
/*    -o-animation-delay: 3.5s;*/
/*    animation-delay: 3.5s;*/
/*    display: none;*/
/*}*/



/*>>>>>>       ADD JOB        <<<<<<<<<*/

/*************<header>**************/
.add-job-main {
    background-color: #f3d537;
    height: 450px;
}
.add-job-header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    position: relative;
}
.add-job-header {
    display: flex;
    justify-content: center;
}
.add-job-information > h5 {
    margin-top: 25px;
    color: #03293c;
}
.add-job-logo {
    width: 150px;
}

/*************</header>**************/

/************** <add-job-Form> **************/
.add-job-form {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -130px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 7px #03293c;
    padding: 48px;
}

.control-label {
    font-weight: bold;
}

.sub-label {
    font-size: 14px;
}
.help-block {
    color:#dc3545;
    font-size: 11px;
}
.help-block:hover {
    color:#a71d2a;
}
.pay-input {
    flex-direction: row;
    display: flex;
    margin-left: -15px;
}

.pay-input > p {
    margin-left: 12px;
    margin-top: 4px;
}
.counter-text , .counter-container > span{
    /*margin-top: -12px;*/
    text-align: right;
    font-size: 10px;
    display: inline-block;
}
.counter-container {
    text-align: end;
    height: 7px;
}

input#file-upload-button {
    background-color: black;

}
/************** </add-job-Form> **************/

/*<<<<<<<<      ADD JOB       >>>>>>>>*/


/*>>>>>>       SHOW JOB OFFER        <<<<<<<<<*/

.job-offer {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
}
.job-information, .employer-details  {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    padding: 1%;
}
.job-information {
    width: 73%;
}
.job-offer-details {
    font-size: 20px;
    font-weight: bold;
}
.job-offer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job-title{
    width: 75%;
}
.job-offer-expire-date > p {
    font-size: 15px;
}
#demo {
    font-size: 23px;
}
.job-offer-published-at {
    justify-content: flex-end;
    display: flex;
}
.employer-details {
    width: 20%;
}

.verified {
    color:#28a745;
}

.not-verified {
    color: #dc3545;
}
/*this is very important for the Bootstrap Modal to show don't Change it
Don't touch the code bellow
*/
.show {
    opacity: unset;
}
/*Don't touch the code above*/
.place-bid-container {
    padding: 2%;
}

.place-bid-container h5 {
    margin: 0px;
    font-size: 2rem;
}
.place-bid-container p {
    font-size: 1.5rem;
}
.hidden {
    display: none;
}

#jobid {
    display: none;
}

#BidForm {
    display: none;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
    margin-top: 20px;
    margin-bottom: 30px;
}

.new__bid__alert {
    display: none;
}
/*<<<<<<<<<<       SHOW JOB OFFER        >>>>>>>>>>>>*/


/*<<<<<<<<<<<< ACCOUNT >>>>>>>>>>>>*/

/********* <header> ***********/
.account-header {
    background-color: #f3d537;
    height: 380px;
}
.account-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}
.account-nav > ul {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    padding-top: 10px;
    background-color:  #f3d537;
}
.nav-link.active {
    background-color: #03293c !important;
    color: #f3d537 !important;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.nav-link.active:hover {*/
/*    background-color: #f3d537 !important;*/
/*    color: #fff !important;*/
/*    font-weight: bolder;*/
/*}*/
.nav-link {
    color: #03293c !important;
    font-weight: 700 !important;
}
/********* </header> *********/

/****** <account> ******/
.account-main-countainer  {
    background: #FFF;
    position: relative;
    z-index: 3;
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.account-info {
    -webkit-font-smoothing: antialiased;
}
.profile {
    text-align: center;
}
.material-icons {
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}
.edit {
    position: absolute;
    top: 0;
    right: 0;
}
.edit .btn-fab   {
    margin-top: -28px;
}
.btn-round {
    border-radius: 50%;
    padding: 10px !important;
    line-height: 0.5 !important;
}
.btn.btn-primary  {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
    box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
}
.btn.btn-primary:not(:disabled):not(.disabled):active{
    color: #009688;
    background-color: hsla(0,0%,60%,.4);
    border-color: hsla(0,0%,60%,.4);
}

.avatar > img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.account-name {
    margin-top: -80px;
}

.account-title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
}
.account-bio , .review-content, .review-date  {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

.account-fav-categories {
    margin-top: 4.284rem;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}
.tab-space {
     padding-top: 20px;
    width: 100%;
}
.tag {
    background: #03293c;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.tag::before {
    background: #03293c;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #03293c;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.tag:hover {
    background-color: #f3d537;
    color: white;
}

.tag:hover::after {
    border-left-color: #f3d537;
}

.latest-work {
    margin-top: 20px;
}

.card-background {
    background-size: cover !important;
    text-align: center;
}
/****** </account> ******/

/******** <reviews> ******/

.review {
    display: flex;
}
#pills-reviews {

}
.review-writer-photo > img {
    width: 85%;
}
.review-date {
    float: right;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
.effect {
    position: relative;
}
.effect:before, .effect:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.effect:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}
/******** </reviews> ******/



/*>>>>>>>>>>> ACCOUNT <<<<<<<<<<<< */


/*<<<<<<<<<<< VERIFY >>>>>>>>>>>> */


.avatar-verify > img {
    border-radius: 36%;
    width: 100%;
    margin: 0 auto;
}

.verify-icon {
    position: relative;
    transform: translate(51%, -132%);
}

.verified {
    font-size: 10px;
    color: green;
}

.why-is {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.verify-start {
    font-size: 20px;
    margin-top: 50px;
}

.verify-form-container {
    margin-top: 140px;
    padding-bottom: 50px;
}
/*>>>>>>>>>>> VERIFY <<<<<<<<<<<< */

/*<<<<<<<<<<< MESSAGES >>>>>>>>>> */
img{
    max-width:100%;
}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.top_spac {
    margin: 20px 0 0;
}
.recent_heading {
    float: left;
    width:40%;
}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{
    border:1px solid #cdcdcd;
    border-width:0 0 1px 0;
    width:80%;
    padding:2px 0 4px 6px;
    background:none;
}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow:hidden;
    clear:both;
}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background:#ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg {
    width: 57%;
}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{
    overflow:hidden;
    margin:26px 0 26px;
}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging {
    padding: 0 0 50px 0;
}
.msg_history {
    height: 516px;
    overflow-y: auto;
}
/*>>>>>>>>>>> MESSAGES <<<<<<<<<< */

/*<<<<<<<<<< CHAT BOX >>>>>>>>>>>*/
.chat-box {
    position: fixed;
    right: 50px;
    bottom: 50px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 50%;
}

/*>>>>>>>>>> CHAT BOX <<<<<<<<<<<*/