html,
body {
    height: 100%;
    background-color: #f7f7f7;
}



/*The navigation bar*/

.myNav {
    background-color: #4267B2;
    align-content: center;
    text-align: center;
    padding: 2% 0 2% 0;
}
.myNav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;

}
.brand {
    display: inline;
    margin-right: 28%;
}
.brand-name {
    padding-right: 10px;
    font-size: 2rem;
}
.search-form {
    display: inline;
}
.search-btn {
    color: black;
}
.search-input:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid rgba(0,0,0,0);
    width: 0;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Navigator main Page filter*/

.select-city {

    display: inline-block; margin-left: 15%; padding: 6px;
    width: 17%;
    text-align: center;
    justify-content: space-between;

}

.select-category {
    display: inline-block;
    margin-left: -1%;
    padding: 6px;
    width: 30%;
    text-align: center;
    justify-content: space-between;
}
.show-city-list{
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: block;
    position: absolute;
    margin-left: 300px;
    z-index: 99;
    overflow-y:scroll;
    height: 300px;
}
.hide-city-list {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: none;
}

.show-category-list{
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: block;
    position: absolute;
    margin-left: 300px;
    z-index: 99;
    overflow-y:scroll;
    height: 300px;
}
.hide-category-list {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    display: none;
}

.right-column {
    width: 66%;
    display: inline-block;
}

.left-column {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}